@charset 'utf-8';

@import '../../../../node_modules/bulma/bulma.sass';

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  height: auto;
  text-rendering: optimizeLegibility;
}